[Unit]
Description=${unit_name}
After=etcd.service
Requires=etcd.service
ConditionPathExists=!${working_directory}/.${unit_name}.norun

[Service]
Type=oneshot
RemainAfterExit=true
WorkingDirectory=${working_directory}
EnvironmentFile=${env_file}
ExecStart=%s ${cmd_file}
ExecStartPost=/usr/bin/touch "${working_directory}/.${unit_name}.norun"
