[Unit]
Description=${unit_name}
After=kube-apiserver.service kube-controller-manager.service kube-scheduler.service
Requires=kube-apiserver.service kube-controller-manager.service kube-scheduler.service
ConditionPathExists=!${working_directory}/.${unit_name}.norun

# Ensure that the service is started.
[Install]
WantedBy=multi-user.target

[Service]
Type=oneshot
RemainAfterExit=true
WorkingDirectory=${working_directory}
EnvironmentFile=${env_file}
ExecStart=%s ${cmd_file}
ExecStartPost=/usr/bin/touch "${working_directory}/.${unit_name}.norun"
