[Unit]
Description=Kubernetes Controller Manager
Documentation=https://github.com/kubernetes/kubernetes
After=dns-online.target kube-apiserver.service
Requires=dns-online.target kube-apiserver.service

[Install]
WantedBy=multi-user.target

[Service]
Restart=on-failure
RestartSec=5
WorkingDirectory=${working_directory}
EnvironmentFile=${env_file}
ExecStart=${cmd_file} $$CONTROLLER_OPTS
