[Unit]
Description=nginx.service
Documentation=http://bit.ly/howto-build-nginx-for-container-linux
After=bins.service syslog.target nss-lookup.target
Requires=bins.service

[Install]
WantedBy=multi-user.target

[Service]
Type=forking
PIDFile=${pid_file}
ExecStartPre=${cmd_file} -t
ExecStart=${cmd_file}
ExecReload=${cmd_file} -s reload
ExecStop=/bin/kill -s QUIT $MAINPID
PrivateTmp=true
