[Unit]
Description=${unit_name}
After=network-online.target
Requires=network-online.target
ConditionPathExists=!${working_directory}/.${unit_name}.norun

[Install]
WantedBy=multi-user.target

[Service]
Type=oneshot
RemainAfterExit=true
WorkingDirectory=${working_directory}
EnvironmentFile=${env_file}
ExecStartPre=%s -c 'while true; do ping -c1 www.google.com && break; done'
ExecStart=%s ${cmd_file}
ExecStartPost=/usr/bin/touch "${working_directory}/.${unit_name}.norun"
