[Unit]
Description=Kubernetes Kubelet
Documentation=https://github.com/kubernetes/kubernetes
After=containerd.service
Requires=containerd.service

[Install]
WantedBy=multi-user.target  

[Service]
Restart=on-failure
RestartSec=5
WorkingDirectory=${working_directory}
EnvironmentFile=${env_file}
ExecStart=${cmd_file} $$KUBELET_OPTS
