[Unit]
Description=Kubernetes Kubelet
Documentation=https://github.com/kubernetes/kubernetes
After=containerd_.service
Requires=containerd_.service

[Install]
WantedBy=multi-user.target

[Service]
Restart=on-failure
RestartSec=5
WorkingDirectory=${working_directory}
EnvironmentFile=${env_file}
ExecStartPre=-%s -c "mkdir -p /opt/cni && ln -s /opt/bin/cni /opt/cni/bin"
ExecStart=${cmd_file} $$KUBELET_OPTS
