[Unit]
Description=etcd.service
Documentation=https://github.com/coreos/etcd
After=bins.service
Requires=bins.service

[Install]
WantedBy=multi-user.target

# Copied from http://bit.ly/systemd-etcd-service
[Service]
Type=notify
Restart=always
RestartSec=10s
LimitNOFILE=40000
TimeoutStartSec=0
NoNewPrivileges=true
User=${user}
WorkingDirectory=${working_directory}
EnvironmentFile=${env_file}
ExecStart=${cmd_file}
